/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: "Tajawal", serif;
    background: #F1F1F1;
}

.gradient-orange{
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);

}

.gradient-gray{
    background-color: #333;
    background-image: linear-gradient(90deg, #333 0%, #111 100%);

}

.hero-gradient{
    background: linear-gradient(45deg, #f2f2f2, #FFF);
    box-shadow: 0 -19px 16px #00000005;
}

.swiper.services{
    padding-bottom: 40px;
    .swiper-pagination{
        bottom: 0;
        .swiper-pagination-bullet{
            background: #f1a725;
        }
        .swiper-pagination-bullet-active{
            width: 32px;
            height: 8px;
            border-radius: 50px;
        }
    }
}

.swiper.hero{
    .swiper-button-prev, .swiper-button-next{
        background: #f7bd59;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .swiper-button-prev::after, .swiper-button-next::after{
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        color: #FFF;
        font-weight: bold;
    }
}


.bottom-nav{
    a:hover{
        background-color: #FAD961;
        background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    }
    a.active{
        background-color: #FAD961;
        background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    }
}

.profile-nav{
    a.active{
        background-color: #FAD961;
        background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
        p{
            color: #FFF;
        }
    }
}

.mobile-menu{
    a.active{
        background-color: #FAD961;
        background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
        color: white;
    }
}



.description3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}


::-webkit-scrollbar, ::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
  }